<h1>Observations</h1>


<ul id="preselected">
  <li><a href="observations?q=nba" data-remote="true" data-type="json">NBA</a></li>
  <li><a href="observations?q=wnba" data-remote="true" data-type="json">Women's NBA</a></li>
  <li><a href="observations?q=mens-college-basketball" data-remote="true" data-type="json">Men's College</a></li>
</ul>

<!--  I'll put static content in the table body just as an example.  It's
      taken directly from the example output on the ESPN API page  -->

<table id="headlines-table">
  <thead>
    <tr>
      <th>Headline</th>
      <th>Source</th>
    </tr>
  </thead>
  
  <tbody>
      <tr>
        <td>Lakers edge Nets as Mike D'Antoni makes debut on L.A. bench</td>
        <td>Associated Press</td>
      </tr>
      <tr>
        <td>Carmelo Anthony scores 29 points as Knicks blow out Hornets</td>
        <td>Associated Press</td>
      </tr>
      
  </tbody>
</table>

<script>
  $('<%= image_tag 'ajax-loader.gif', id: 'spinner' %>').css('position','absolute').hide().appendTo('body');
  $('#preselected a').on('ajax:success', function(e, data) {
    $('#headlines-table tbody').empty();
    for (index in data.headlines) {
      $('#headlines-table tbody').append('<tr id="headline' + index + '"><td class="headline"></td><td class="source"></td></tr>')
      $('#headline' + index + ' .headline').html(data.headlines[index].headline)
      $('#headline' + index + ' .source').html(data.headlines[index].source)
    }
  })
  $('#observation_form ').on('submit', function() {
    $('#spinner').fadeIn();
  })
</script>
